---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
const post = Astro.props;
const { Content } = await render(post);
---

<MainLayout
  title={post.data.title}
  description={post.data.description}
  socialImage="/social_images/home.png"
>
  <article class="prose lg:prose-lg flex self-center flex-col items-center *:text-center prose-pre:text-left">
    <h1>{post.data.title}</h1>
    <p class="text-lg">{post.data.description}</p>
    <Content />
  </article>
</MainLayout>
