---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
const posts = await getCollection("posts");
---

<MainLayout
  title="Posts"
  description="Posts by Moheshwar Amarnath Biswas"
  socialImage="/images/social/home.png"
>
  <ul class="list-disc m-auto">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/posts/${post.slug}/`}
            class="underline decoration-pink-500 duration-500 hover:decoration-sky-500 text-xl sm:text-3xl"
          >
            {post.data.title}
          </a>
          <p class="text-base sm:text-lg">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
