---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
const posts = await getCollection("posts");
---

<MainLayout
  title="Posts"
  description="Posts by Moheshwar Amarnath Biswas"
  socialImage="/images/social/home.png"
>
  <ul class="m-auto list-disc">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/posts/${post.id}/`}
            class="text-xl underline decoration-pink-500 duration-500 hover:decoration-sky-500 sm:text-3xl"
          >
            {post.data.title}
          </a>
          <p class="text-base sm:text-lg">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
