---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/Main.astro";
const posts = await getCollection("posts");
---

<MainLayout
  lang="en"
  title="Posts"
  description="Posts by Moheshwar Amarnath Biswas"
  socialImage="/images/social/home.png"
  keywords="posts, blog, articles, Moheshwar Amarnath Biswas"
>
  <ul class="m-auto list-disc">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/posts/${post.id}/`}
            class="text-xl underline decoration-pink-500 duration-500 hover:underline hover:decoration-sky-500 sm:text-3xl post-title"
          >
            {post.data.title}
          </a>
          <p class="text-base sm:text-lg">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>

<script is:inline>
  document.querySelectorAll('a[href^="/posts/"]').forEach((link) => {
    const postId = link.getAttribute('href').split('/').filter(Boolean).pop();
    link.style.viewTransitionName = `post-title-${postId}`;

    link.addEventListener('click', (e) => {
      e.preventDefault();
      const url = link.href;

      document.startViewTransition(() => {
        window.location.href = url;
      });
    });
  });
</script>
