---
import { getCollection } from "astro:content";
import domain from "../../domain.ts";
import MainLayout from "../../layouts/Main.astro";
const posts = await getCollection("posts");
---

<MainLayout
  canonical={`https://${domain}/posts/`}
  lang="en"
  title="Posts - Moheshwar Amarnath Biswas"
  description="Posts by Moheshwar Amarnath Biswas"
  socialImage="/images/social/home.png"
  keywords="posts, blog, articles, Moheshwar Amarnath Biswas"
>
<h1 class="text-center text-3xl p-5">Posts by Moheshwar Amarnath Biswas</h1>
  <div class="m-auto mb-6 text-center">
    <a
      href="/rss.xml"
      target="_blank"
      class="btn btn-outline btn-primary"
      aria-label="Subscribe to RSS Feed"
    >
      📡 Subscribe to RSS Feed
    </a>
  </div>
  <ul class="m-auto list-disc">
    {
      posts.map((post) => (
        <li>
          <a
            href={`/posts/${post.id}/`}
            class="post-title text-xl underline decoration-pink-500 duration-500 hover:underline hover:decoration-sky-500 sm:text-3xl"
          >
            {post.data.title}
          </a>
          <p class="text-base sm:text-lg">{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
