@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    lemonade --default,
    dracula --prefersdark;
}

@layer base {
  html {
    hanging-punctuation: first last;
  }
  *::selection {
    @apply bg-pink-700 text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    max-width: 70ch;
    text-wrap: pretty;
  }
}

@layer components {
  .link {
    @apply text-pink-800 hover:text-black dark:text-pink-400 hover:dark:text-white;
  }

  a {
    @apply hover:no-underline;
  }
}

@view-transition {
  navigation: auto;
}
