<!-- Carbon Badge Container -->
<div class="flex flex-col items-center text-center text-[#0e11a8] dark:text-white text-[15px] leading-[1.15]">

  <!-- Badge Content -->
  <div class="flex items-center my-1">
    <!-- CO2 Emission Info -->
    <span class="inline-flex items-center justify-center px-2 py-1 border border-[#2b997c] dark:border-[#00ffbc] bg-white dark:bg-gray-800 rounded-l-lg min-w-[8.2em] text-[1em] leading-[1.15]" style="border-right: 0;">
      0.01g of CO<sub class="align-middle relative top-[0.3em] text-[0.7em]">2</sub>/view
    </span>
    <!-- Website Carbon Link -->
    <a href="https://www.websitecarbon.com/website/fluentmoheshwar-pages-dev/" target="_blank" rel="noopener" class="inline-flex items-center justify-center px-2 py-1 border border-[#2b997c] dark:border-[#00ffbc] bg-[#0e11a8] dark:bg-[#00ffbc] text-white dark:text-[#0e11a8] font-bold rounded-r-lg text-[1em] leading-[1.15]" style="border-left: 0;">
      Website Carbon
    </a>
  </div>

  <!-- Additional Info -->
  <span class="mt-1">&nbsp;Cleaner than 99% of pages tested</span>
</div>
