<!-- Carbon Badge Container -->
<div
  class="flex flex-col items-center text-center text-[15px] leading-[1.15] text-[#0e11a8] dark:text-white"
>
  <!-- Badge Content -->
  <div class="my-1 flex items-center">
    <!-- CO2 Emission Info -->
    <span
      class="inline-flex min-w-[8.2em] items-center justify-center rounded-l-lg border border-[#2b997c] bg-white px-2 py-1 text-[1em] leading-[1.15] dark:border-[#00ffbc] dark:bg-gray-800"
      style="border-right: 0;"
    >
      0.03g of CO<sub class="relative top-[0.3em] align-middle text-[0.7em]"
        >2</sub
      >/view
    </span>
    <!-- Website Carbon Link -->
    <a
      href="https://www.websitecarbon.com/website/moheshwar-com/"
      target="_blank"
      rel="noopener"
      class="inline-flex items-center justify-center rounded-r-lg border border-[#2b997c] bg-[#0e11a8] px-2 py-1 text-[1em] leading-[1.15] font-bold text-white dark:border-[#00ffbc] dark:bg-[#00ffbc] dark:text-[#0e11a8]"
      style="border-left: 0;"
    >
      Website Carbon
    </a>
  </div>

  <!-- Additional Info -->
  <span class="mt-1">&nbsp;Cleaner than 93% of pages tested</span>
</div>
