<div class="flex-grow"></div>
<footer class="footer footer-center bg-base-300 p-4 text-base-content mt-4">
  <div>
    <p>
      Copyright © 2023-2025 Moheshwar Amarnath Biswas. Some rights reserved.
    </p>
    <p>
      Except where otherwise noted, content on this site is licensed under a <a
        href="https://creativecommons.org/licenses/by/4.0/"
        class="link">Creative Commons Attribution 4.0 International license</a
      >
    </p>
    <p>
      Made with ❤️ - This site is <a
        href="https://github.com/fluentmoheshwar/portfolio-website/"
        class="link">open source</a
      > licensed under a <a
        href="https://github.com/fluentmoheshwar/portfolio-website/blob/main/LICENSE/"
        class="link">MIT License</a
      >
    </p>
  </div>
</footer>
