body {
  background-color: #e0e0e0;
}

#nav ul li {
  display: inline;
}

#nav ul {
  list-style: none;
}

#nav ul li a {
  font-size: 30px;
  text-decoration: none;
}

#photo {
  border: 5px solid #16449b;
}

#warning {
  margin-bottom: 5px;
}
