---
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <!-- prettier-ignore -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Moheshwar Amarnath Biswas</title>
    <!-- prettier-ignore -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- prettier-ignore -->
    <meta name="author" content="Moheshwar Amarnath Biswas">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="style.css">
    <meta name="keywords" content="posts, blog, articles, Moheshwar Amarnath Biswas">
    <meta name="description" content="Posts by Moheshwar Amarnath Biswas">
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <ul>
          <li><a href="../" target="_blank">Home </a></li>
          <li><a href="./" target="_blank">Posts </a></li>
          <li>
            <a href="https://www.facebook.com/fluentmoheshwar" target="_blank"
              >Facebook</a
            >
          </li>
        </ul>
      </div>

      <ul class="m-auto list-disc">
    {
      posts.map((post) => (
        <li>
          <img src="/legacy/images/new.gif" alt="new">
          <a
            href={`./${post.id}/`}
          >
            {post.data.title}
          </a>
          <p class="text-base sm:text-lg">{post.data.description}</p>
        </li>
      ))
    }
  </ul>

    <div id="footer">
      <center>
        <table>
          <tr>
            <td>
              <!-- prettier-ignore -->
              <img
            src="./images/underconstruction4.gif"
            alt="This site is under construction"
          >
            </td>
            <td>
              <!-- prettier-ignore -->
              <img
            src="./images/ie.gif"
            alt="Internet Explorer"
            width="88"
            height="31"
          >
            </td>
            <td>
              <!-- prettier-ignore -->
              <img
            src="./images/firefox.gif"
            alt="Firefox"
            width="88"
            height="31"
          >
            </td>
            <td>
              <!-- prettier-ignore -->
              <img
            src="./images/netscape_1.gif"
            alt="This website is viewed best with Netscape Navigator"
            width="88"
            height="31"
          >
            </td>
            <td>
              <a
                href="https://validator.w3.org/check?uri=https%3A%2F%2Ffluentmoheshwar.pages.dev%2Flegacy%2F&charset=%28detect+automatically%29&doctype=Inline&group=0"
              >
                <!-- prettier-ignore -->
                <img
                src="https://www.w3.org/Icons/valid-html401"
                alt="Valid HTML 4.01 Transitional"
                height="31"
                width="88"
                style="margin: 0;"
              >
              </a>
            </td>
            <td>
              <a
                href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Ffluentmoheshwar.pages.dev%2Flegacy%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en"
              >
                <!-- prettier-ignore -->
                <img
                height="31"
                width="88"
                style="margin: 0;"
                src="http://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS!"
              >
              </a>
            </td>
          </tr>
        </table>
      </center>
      <marquee
        behavior="scroll"
        direction="left"
        scrollamount="10"
        class="footer-marquee"
      >
        <p>
          Under construction! This website is a work in progress and may not be
          fully functional yet. Please check back later for updates. Copyright
          © 2025 Moheshwar Amarnath Biswas. Some rights reserved. Made with
          Love in Bangladesh.
        </p>
      </marquee>
    </div>
  </body>
</html>
