---
import MainLayout from "../layouts/Main.astro";
---

<MainLayout
  lang="en"
  title="What I'm Up To - Moheshwar Amarnath Biswas"
  description="Discover what Moheshwar Amarnath Biswas is currently working on, his latest projects, and interests in software development and coding."
  socialImage="/social_images/home.png"
  keywords="Moheshwar Amarnath Biswas, Moheshwar, Amarnath Biswas, Software Developer, Coding Enthusiast, মহেশ্বর অমরনাথ বিশ্বাস, মহেশ্বর, অমরনাথ, বিশ্বাস, অমরনাথ বিশ্বাস, now page, current projects, latest work, software development, programming, tech interests"
>
  <main class="*:px-5 *:pb-5 sm:mx-auto">
    <h1 class="text-5xl">What I'm Up To</h1>
    <h2 class="text-2xl text-pink-700 dark:text-pink-300">
      Where I'm at, what I'm focused on, and what I'm not.
    </h2>

    <p>
      Currently, I'm mainly focused on my academic studies and personal life. In
      my professional life, I'm focused on improving my skills in React and
      TypeScript, exploring new libraries and contributing to open-source
      projects. On the personal front, I'm dedicating time to my hobbies like
      cooking and spending quality time with family and friends.
    </p>
    <p>
      I'm also interested in upcoming parliamentary elections and referendum in
      my country, The People's Republic of Bangladesh.
    </p>
    <p>I'm currently not interested in films or other entertainment media.</p>

    <p>That's about it for now. Thanks for reading!</p>
    <p>This page will change over time. This page is inspired by <a href="https://nownownow.com/about" class="link">Derek Sivers's /now page</a>. It's a great way to share what you're up to now. If you have your own site, consider creating one too it's a good reminder of your priorities and a public statement of your values. </p>
  </main>
</MainLayout>
