<header class="grid items-center grid-cols-1 sm:grid-cols-2">
  <div>
    <h1 class="p-3.5 pb-0 text-center sm:text-left text-xl sm:text-5xl">
      Meet Moheshwar Amarnath Biswas
    </h1>
    <p class="sm:text-md p-3.5 text-justify text-sm">
      A software developer with expertise in Tailwind
      CSS, TypeScript and more. Alongside my coding
      prowess, I also enjoy occasional singing, adding a touch of
      creativity to my life. I started learning programming when I was 7 years old, after I discovered how much fun it was to create my own stuff. Since then, I've been constantly improving my skills and working on various projects, both personal and professional
    </p>
  </div>
  <img
    src="/images/home/header.webp"
    alt="Photo of Moheshwar Amarnath Biswas"
    class="sm:col-start-2 m-auto sm:mt-2 border-2 border-pink-800 rounded-md"
    width="375"
    height="500"
    loading="lazy"
  />
</header>
