---
import { Image } from "astro:assets";
import headerImage from "../../../assets/images/home/header.webp";
---

<header class="grid grid-cols-1 items-center sm:grid-cols-2">
  <div>
    <h1 class="p-3.5 pb-0 text-center text-xl sm:text-left sm:text-5xl">
      Meet Moheshwar Amarnath Biswas
    </h1>
    <p class="sm:text-md p-3.5 text-justify text-sm">
      A software developer with expertise in Tailwind CSS, TypeScript and more.
      Alongside my coding prowess, I also enjoy occasional singing, adding a
      touch of creativity to my life. I started learning programming when I was
      7 years old, after I discovered how much fun it was to create my own
      stuff. Since then, I've been constantly improving my skills and working on
      various projects, both personal and professional
    </p>
  </div>
  <Image
    src={headerImage}
    alt="Moheshwar Amarnath Biswas"
    class="m-auto rounded-md border-2 border-pink-800 sm:col-start-2 sm:mt-2"
    loading="eager"
  />
</header>
