---
import { Image } from "astro:assets";
import headerImage from "../../../assets/images/home/header.webp";
---

<header class="grid grid-cols-1 items-center sm:grid-cols-2">
  <div>
    <h1 class="p-3.5 pb-0 text-center text-xl sm:text-left sm:text-5xl">
      Meet Moheshwar Amarnath Biswas
    </h1>
    <p class="sm:text-md p-3.5 text-justify text-sm">
      Hey, I'm Moheshwar.
      A student who likes building stuff that actually works and tossing around ideas that catch on.
      I got into coding when I was seven (yeah, I was that kid), just because I loved making my own things.
      Over time, I picked up Python, Node.js, Tailwind CSS, and TypeScript basically collecting tools like they're Pokémon.
      I'm super curious about how Bangladesh fits into the bigger global scene, especially where tech and trade bump into each other.
      Whether it's an app, a new strategy, or some wild business concept, I'm all about creating things that connect people and actually stick around.
    </p>
  </div>
  <Image
    src={headerImage}
    alt="Moheshwar Amarnath Biswas"
    class="m-auto rounded-md border-2 border-pink-800 sm:col-start-2 sm:mt-2"
    loading="eager"
  />
</header>
