---
import { Image } from "astro:assets";
import { BiLogoVisualStudio } from "react-icons/bi";
import { FaDownload, FaGithub } from "react-icons/fa6";
import PujaBloomImage from "../../../assets/images/home/puja_bloom.png";
import UsefulToolsImage from "../../../assets/images/home/useful_tools.png";
---

<section class="mx-auto max-w-5xl">
  <h2
    class="mb-3 text-center text-2xl underline decoration-pink-500 sm:text-3xl"
  >
    Projects
  </h2>
  <div class="grid gap-8 sm:grid-cols-2">
    <!-- Useful Tools Card -->
    <div class="card bg-base-100 shadow-2xl">
      <figure class="px-4 pt-4">
        <Image
          src={UsefulToolsImage}
          alt="Useful Tools for Windows Screenshot"
          loading="eager"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-xl sm:text-2xl">Useful Tools for Windows</h2>
        <p class="text-justify text-sm sm:text-base">
          It's a collection of handy tools, scripts and shortcuts that will make
          your Windows experience more efficient and fun. You can tweak your
          settings or access hidden features with ease.
        </p>
        <div class="card-actions mt-2 flex flex-wrap gap-2">
          <a
            href="https://github.com/fluentmoheshwar/useful-tools/releases"
            class="btn btn-primary"
          >
            <FaDownload /> Download
          </a>
          <a href="https://github.com/fluentmoheshwar/useful-tools" class="btn">
            <FaGithub /> GitHub
          </a>
        </div>
      </div>
    </div>

    <!-- Puja Bloom Card -->
    <div class="card bg-base-100 shadow-xl">
      <figure class="px-4 pt-4">
        <Image src={PujaBloomImage} alt="Puja Bloom Theme" />
      </figure>
      <div class="card-body">
        <h2 class="card-title text-xl sm:text-2xl">
          Puja Bloom Visual Studio (Code) Theme
        </h2>
        <p class="text-justify text-sm sm:text-base">
          Puja Bloom is a Visual Studio / Visual Studio Code Theme designed for
          programmers with accessibility and cuteness in mind.
        </p>
        <div class="card-actions mt-2 flex flex-wrap gap-2">
          <a href="https://github.com/fluentmoheshwar/puja-bloom" class="btn">
            <FaGithub /> GitHub
          </a>
          <a
            href="https://marketplace.visualstudio.com/items?itemName=fluentmoheshwar.PujaBloom"
            class="btn bg-violet-700 text-white"
          >
            <BiLogoVisualStudio /> Visual Studio
          </a>
          <a
            href="https://marketplace.visualstudio.com/items?itemName=fluentmoheshwar.puja-bloom"
            class="btn bg-blue-600 text-white"
          >
            <BiLogoVisualStudio /> Visual Studio Code
          </a>
          <a
            href="https://open-vsx.org/extension/fluentmoheshwar/puja-bloom"
            class="btn bg-blue-600 text-white"
          >
            <BiLogoVisualStudio /> OpenVSX
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
