---
import {
  FaHtml5,
  FaCss3Alt,
  FaSquareJs,
  FaPython,
  FaNodeJs,
  FaGitAlt,
FaLanguage
} from "react-icons/fa6";
import { SiAdobephotoshop, SiTailwindcss, SiAstro } from "react-icons/si";
import { PiMicrosoftExcelLogoFill } from "react-icons/pi";
---

<section>
  <h2
    class="mb-2 text-center text-2xl underline decoration-pink-500 sm:text-3xl"
  >
    Skills
  </h2>
  <ul class="columns-2 p-3.5">
<li>
      <span class="*:inline"><FaLanguage /></span> Bangla, English and Hindi
    </li>
    <li>
      <span class="*:inline"><FaHtml5 /></span> HTML and <span class="*:inline"
        ><FaCss3Alt /></span
      > CSS
    </li>
    <li>
      <span class="*:inline"><FaSquareJs /></span> JavaScript and TypeScript
    </li>
    <li><span class="*:inline"><FaPython /></span> Python</li>
<li>
      <span class="*:inline"><SiTailwindcss /></span> TailwindCSS
    </li>
<li>
      <span class="*:inline"><SiAstro /></span> Astro
    </li>
    <li><span class="*:inline"><FaNodeJs /></span> Node.js and Express.js</li>
    <li><span class="*:inline"><FaGitAlt /></span> Git</li>
    <li>
      <span class="*:inline"><PiMicrosoftExcelLogoFill /></span> Microsoft Excel
    </li>
    <li><span class="*:inline"><SiAdobephotoshop /></span> Adobe Photoshop</li>
  </ul>
</section>
