<section>
  <h2
    class="mb-2 text-center text-2xl underline decoration-pink-500 sm:text-3xl"
  >
    Skills
  </h2>
  <ul class="columns-2 p-3.5">
    <li>
      <i class="fa-brands fa-html5"></i> HTML and <i
        class="fa-brands fa-css3-alt"></i> CSS
    </li>
    <li><i class="fa-brands fa-square-js"></i> JavaScript and TypeScript</li>
    <li><i class="fa-brands fa-python"></i> Python</li>
    <li><i class="fa-brands fa-node-js"></i> Node.js and Express.js</li>
    <li><i class="fa-brands fa-git-alt"></i> Git</li>
    <li><i class="fa-solid fa-file-excel"></i> Microsoft Excel</li>
    <li><i class="fa-solid fa-image"></i> Adobe Photoshop</li>
  </ul>
</section>
