---
import {
  FaCss3Alt,
  FaGitAlt,
  FaHtml5,
  FaLanguage,
  FaNodeJs,
  FaPython,
  FaSquareJs,
} from "react-icons/fa6";
import { PiMicrosoftExcelLogoFill } from "react-icons/pi";
import { SiAdobephotoshop, SiAstro, SiTailwindcss } from "react-icons/si";
---

<section>
  <h2
    class="m-4 text-center text-2xl underline decoration-pink-500 sm:text-3xl"
  >
    Skills
  </h2>
  <ul
    class="grid items-center justify-center px-4 py-3 sm:grid-cols-[repeat(2,minmax(0,0.2fr))]"
  >
    <li>
      <span class="*:inline"><FaLanguage /></span> Bangla, English and Hindi
    </li>
    <li>
      <span class="*:inline"><FaHtml5 /></span> HTML and <span class="*:inline"
        ><FaCss3Alt /></span
      > CSS
    </li>
    <li>
      <span class="*:inline"><FaSquareJs /></span> JavaScript and TypeScript
    </li>
    <li><span class="*:inline"><FaPython /></span> Python</li>
    <li>
      <span class="*:inline"><SiTailwindcss /></span> TailwindCSS
    </li>
    <li>
      <span class="*:inline"><SiAstro /></span> Astro
    </li>
    <li><span class="*:inline"><FaNodeJs /></span> Node.js and Express.js</li>
    <li><span class="*:inline"><FaGitAlt /></span> Git</li>
    <li>
      <span class="*:inline"><PiMicrosoftExcelLogoFill /></span> Microsoft Excel
    </li>
    <li><span class="*:inline"><SiAdobephotoshop /></span> Adobe Photoshop</li>
  </ul>
</section>
